body {
  box-sizing: border-box;
}

.wrapmeamadeus {
  width: 600px;
}

.subheader {
  padding: 0 10px 0 10px;
  font-weight: bold;
}

.friendnumber {
  font-weight: bold;
  color: red;
}
.header {
  background-color: #e29938;
  color: #6d4817;
  padding-top: 0px;
  margin-top: 0px;
}

.imgholder {
  width: 580px;
  margin:0px 10px 0px 10px;
}

.imgrow1 {
  position:absolute;
  top: 60px;
  display: inline-block;
  width: 580px;
  height: 110px;
  margin-bottom: 20px
}


.imgrow2 {
  position:absolute;
  top:220px;
  display: inline-block;
  width: 580px;
  height: 110px;
  margin-bottom: 20px;
}
.facekeeper {
  height: 140px;
  float: left;
}
.facepic {
  object-fit: cover;
  width: 120px;
  height: 90px;
  margin: 5px 10px 5px 10px;
  border: 2px solid blue;
}
.footer {
  position: absolute;
  left: 400px;
  top: 360px;
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  color: red;
  padding-top: 15px;
  margin-top: 15px;


}
.name-text {
  position: relative;
  text-align: center;
  top: 20px;
}
